body {
  margin: 0;
  padding-top: 5rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100vw;
  height: 20rem;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cart-button {
  display: flex;
  align-items: center;
  background-color: #4d1601;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 0.5rem;
  margin-right: 15rem;

  cursor: pointer;
  font: inherit;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cart-button:hover,
.cart-button:active {
  background-color: #2c0d00;
  transform: scale(1.03);
}

.cart-button span {
  display: inline-block;
  margin-left: 0.4rem;
}

.badge {
  background-color: #b94517;
  padding: 0.2rem 0.8rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 0.85rem;
}
